/*font-family: 'Permanent Marker', cursive;*/
/*font-family: 'Roboto', sans-serif;*/

body {
	margin: 0;
	padding: 0;

	font-family: 'Roboto', sans-serif;
}

.logo {
	font-family: 'Permanent Marker', cursive;
}

.navbar-colored {
	padding: 10;

	background-color: #313439;
}

.panel {
	background-color: #313439;

	border-radius: 10px;
}

.login-header {
	padding: 4px;

	font-family: 'Permanent Marker', cursive;
}
